#xp ul {
    height: 40em;
    width: 32em;
    list-style-type: none;
    padding-left: 0;
    /*turn the ul into a flexbox (way to control the way elements are organized)*/
    display: flex;
    flex-direction: row; /*this controls the direction that elements will stack, in this case each element stacks to the right of the element before it(horizontally)*/
    flex-wrap: wrap; /*makes sure the elements don't go past the edge of the screen, creates the rows*/
    justify-content: space-between;
    border: 1px solid red;

}

#xp li {
    width: 10em;
    height: 10em;
    background-color: orange;
    border: 1px solid gray;
    /*flex-basis: 33%; controls the width of the row elements, number represents % of the width of main axis of the parent element ul
    flex-shrink: 0; can reduce the width of an element from what flex-basis sets*/
    flex: 0 1 10em;
    box-shadow: 5px 5px 0px 0px black;
    text-align: center;
}

